{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'sales/css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'sales/js/script.js' %}"></script>
    <title>Sales</title>
</head>
<body>
    <!-- Navigation -->
    {% include 'global_html/nav.html' %}


    <!-- Sales table List -->
    <div class="sales_list">
        <table>
            <caption> Sales List</caption>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Sale Price</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="add_sale_list">
                {% for s in sales_list %}
                <tr>
                    <td class="product">{{s.product}}</td>
                    <td class="quantity">{{s.quantity}}</td>
                    <td class="sale_price">{{s.sale_price}}</td>
                    <td class="date">{{s.date}}</td>
                    <td>
                        <button class="edit-btn" id="edit-{{s.id}}" data-id="{{s.id}}">Edit</button>
                        <button class="delete-btn" id="delete-{{s.id}}" data-id="{{s.id}}">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>

    <!-- Add single Item -->
    <div class="add_sale">
        <a id="add_sale_toggle">➕ Add Sale</a>
        <hr>
        <div class="add_sale_form" style="display: none;">
            <form id="sale_form">
                {% csrf_token %}
                <label>Product:</label>
                <select name="product">
                    {% for p in products %}
                    <option value="{{p.id}}">{{p.name}}</option>
                    {% endfor %}
                </select>
                <label>Quantity:</label>
                <input name="quantity" type="number" placeholder="quantity" required min="1">
                <label>Sale price:</label>
                <input name="sale_price" type="number" placeholder="sale price" required step="0.01" min="1">
                <button type="submit" id="submit">Save</button>
            </form>
        </div>
    </div>


</body>
</html>