{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'sales/css/styles.css' %}">
    <title>Sales</title>
</head>
<body>
    <!-- Navigation -->
    {% include 'global_html/nav.html' %}


    <!-- Sales table List -->
    <div class="sales_list">
        <table>
            <caption> Sales List</caption>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Sale Price</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for s in sales_list %}
                <tr>
                    <td>{{s.product}}</td>
                    <td>{{s.quantity}}</td>
                    <td>{{s.sale_price}}</td>
                    <td>{{s.date}}</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
</body>
</html>